:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Tinos", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Inter", sans-serif;

  --darkblue: #000223;
  --blue: #0057be;
  --lightblue: #03b6fc;
  --grey: #5b637b;
  --bg: #f8f8f8;
  --white: #fff;

  --modal-bg: rgba(0, 87, 190, 0.7);
  --modal-icon: #03b6fc;
  --modal-hover: #0057be;
  --modal-text: --text;
}
