.contacts-list {
  &__item {
    display: grid;
    gap: 24px;
    grid-template-columns: auto 1fr;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--darkblue);

    address {
      font-style: normal;
      font-family: var(--second-family);
    }
    a {
      color: var(--lightblue);
      font-family: var(--second-family);
      display: block;
    }
    [href^="tel:"] {
      font-weight: 700;
      font-size: 18px;
      color: var(--darkblue);
      font-family: var(--font3);
    }
    span {
      font-size: 14px;
      color: var(--grey);
      text-transform: initial;
    }
  }
}
